API_KEY="my-secret-api"

# WARNING: Avoid using remote database connections during local development.
# This prevents the risk of accidentally resetting or dropping the configured database.
PGHOST="localhost"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD=""
PGDATABASE="pg-db-name"

SSL_MODE="disable"